$primary: #ecf7f3;
$secondary: #4a4a4a;
$grey: #e8e8e8;
$white: #fff;
$black: #000;
$orange: #ff8345;
$green: #48b774;

$font: #4a4a4a;
$font-add: #7c7c7c;

$tablet-bp: 991px;
$md-bp: 768px;
$mobile-bp: 575px;
$header-height: 85px;

// Circle

$size-s: 30px;
$size-m: 40px;
$size-l: 50px;
$size-xl: 60px;