<section class="intro">
	<div class="container">
		<div class="intro__inner">
			<div class="intro__description">
				<h1 class="intro__title">
					Now Buy Your<br>
					PIN or <span class="orange-color">Top Up</span><br>
					With Bank Transfer
				</h1>
				<p class="intro__text">
					We Make international calling simple, relible, and cheap basedon your unique calling behavior.
				</p>
				<button class="intro__button button button--modal">
					Get Started
				</button>

				<div class="intro__search search">
					{{> search }}
				</div>

				<div class="intro__user user">
					{{> user }}
				</div>

			</div>

			<div class="intro__circle circle">
				{{> circle }}
			</div>


		</div>
	</div>
</section>